.row {
  margin-left: 20px;
  color: #fff;
}
.row-posters {
  display: flex;
  overflow-x: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row-posters::-webkit-scrollbar {
  display: none;
}
.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 250px;
  margin-right: 10px;
  transition: all 450ms;
}

.row-poster:hover {
  transform: scale(1.07);
}

.row-posterLarge {
  max-height: 300px;
}
.row-posterLarge:hover {
  transform: scale(1.09);
}
